<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synapseslab.bluegpssdkdemo">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".DemoApplication"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueGPSDemoAppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BlueGPSDemoAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.synapseslab.bluegps_sdk.authentication.presentation.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="{host}"
                    android:scheme="{scheme}" />
            </intent-filter>
        </activity>

        <!--
  The BootCompletedReceiver is declared here to restart the service when the device reboots.
-->
        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--
          The BeaconEventReceiver is declared here to allow the system to launch the app
          to handle beacon events even when the app is closed.
        -->
        <receiver
            android:name=".receiver.BeaconEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.synapseslab.bluegps_sdk.ACTION_BEACON_EVENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>